.root{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #403f44, #403f44);
    -fx-border-radius: 20;
    -fx-border-width: 5;
    -fx-background-radius: 20;
    -fx-border-color: #403f44;
}

/*noinspection DuplicatedCode*/
#btnCloseScene1{
    -fx-background-radius: 10em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-position: center;
    -fx-background-size: 16px;
    -fx-background-image: url('Close.png');
    -fx-background-repeat: no-repeat;
    -fx-background-color: #403f44;
}

#btnCloseScene1:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-background-color: #ba1919;
}
#buttonConfirm {
    -fx-background-radius: 10em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: #403f44;
    -fx-background-position: center;
    -fx-background-image: url('Confirm.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 25px;
}


#buttonConfirm:hover{
    -fx-background-color: #35bd25;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

/*noinspection DuplicatedCode*/
#btnMinimizeScene1{
    -fx-background-radius: 10em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
    -fx-background-position: center;
    -fx-background-size: 16px;
    -fx-background-image: url('Minimize.png');
    -fx-background-repeat: no-repeat;
    -fx-background-color: #403f44;
}

#btnMinimizeScene1:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-background-color: #4c19ba;
}